.smalltable td {
    padding: 2px !important;
    padding-left: 4px !important; 
    font-size: 12px;
}

.main-footer {
    display: none !important;
}

.nomargin {
    margin: 0px;
}

table.noactive td{
    background: whitesmoke;
    border-color: #e4e4e4 !important;
}

.fulltable {
    width: 100%;
}

.table-devider td {
    padding-top: 10px;
}

.tabletwo tr > td:last-child {
    padding-left: 15px;
}

.rain {
    border: 1px solid black;
    height: 390px;
    width: 450px;
    overflow-y: scroll;
    padding: 5px;
}

.rain table td {
    background: #d0d0d0 !important;
    padding: 4px;
}

.rain table td {
    border-bottom: 5px solid white !important; 
}

.rain table {
    width: 100%;
}

.table-exchange td{
    width: 30px;
    height: 30px;
    border: 1px solid #adadad;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
}

.table-exchange td.autotd {
    width: auto;
    text-align: left;
    padding: 5px;
} 

.bid-num {
    float: left;
    font-size: 16px;
}

.bid-date {
    font-size: 16px;
    float: right;
}

.bid-header {
    text-align: center;
}

.bid-email {
    font-size: 16px;
    display: inline-block;
}

.bid-buttons {
    text-align: right;
}

.bid-buttons .btn {
    width: 200px;
    text-align: left;
    display: inline-block;
    margin-bottom: 10px;
}

.bid-buttons .btn:last-child {
    margin-bottom: 0px;
}

.box-purple {
    border: 1px solid #605ca8 !important;
}

.box-purple .bid-header{
    background: #605ca8 !important;
    background-color: #605ca8 !important;
}

.btn-inline {
    display: inline-block;
    width: auto;
    width: 200px;
    text-align: left;
    margin-top: 0px !important;
    margin-left: 8px;
}

span.red {
    color: red;
}

span.green {
    color: green; 
}

.main-sidebar.right-sidebar {
    right: 0px;
    left: auto;
}

.public-admin .sidebar-menu .header{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
}

.public-admin .navbar-custom-menu, .public-admin .navbar-nav, .public-admin .user-menu{
    width: 231px;  
}

.public-admin .user-menu a {
    font-size: 20px;
    text-align: right; 
}

.main-header > .logo, .public-admin .navbar-custom-menu {
    background: #357ca5 !important;
    border-right: 0px !important;
    color: white !important;
    border-left: 0px !important;
}

.public-admin .user-menu a {
    color: white !important;
    background: transparent !important;
}

.public-title {
    float: left;
    padding: 10px;
    height: 50px;
    font-size: 22px;
    text-align: center;
    width: calc(100% - 231px);
}

.public-admin .content-wrapper {
    margin-right: 230px; 
    padding: 15px;
}

.threerow {
    padding-left: 8px;
    padding-right: 8px;
}

.threerow > div {
    padding-left: 8px;
    padding-right: 8px;
} 

.breadcrumb {
    margin-bottom: 0px;
    padding: 14px 14px;
}

.btn-auto {
    width: auto;
    display: inline-block;
}

body {
    overflow-y: scroll;
}

.bid-box .footer-panel {
    background-color: #f3f3f3 !important;
    border-top: 1px solid #e6e6e6;
}

.bid-box .cash {
    font-size: 45px;
    font-weight: 600;
    line-height: 32px;
}

.bid-box .valute-p-img {
    display: block;
    float: left;
    margin-right: 5px;
    max-width: 25px;
    max-height: 25px;
}

.bid-box .valute-p {
    font-size: 20px;
}

.bordered-t td {
    border: 1px solid #e0e0e0 !important; 
}