<template>
    <div>
        <div class="row threerow">
            <div class="col-md-4">
                <exchange-from
                    :value="from_value"
                    :list="from_list"
                    :current="from_current"
                    @selected="onFromSelected" 
                    @changed="onFromChanged"
                ></exchange-from>   
            </div> 
 
            <div class="col-md-4">
                <exchange-to
                    :value="to_value"
                    :list="to_list"
                    :current="to_current"
                    @selected="onToSelected"
                    @changed="onToChanged"
                ></exchange-to>
            </div>

            <div class="col-md-4">  
                <exchange-data
                    :data="data"
                    :from="from_current"
                    :to="to_current"
                    :value_from="from_value"
                    :value_to="to_value"
                    @onSend="onSend"
                ></exchange-data>  
            </div>
        </div>  
    </div>
</template>

<style lang="scss">
    .payment-icon-small {
        float: left;
        width: 20px;
        height: 20px;
        background-size: cover;
        margin-right: 10px; 
    }

    .exchange-list {
        tr {
            &:hover {
                cursor: pointer;
            }
        }
    }

    .selected-payment {
        background: #d7e6ff !important;
    }

    .box-exchange {
        transition: opacity 0.25s;

        &.visible-box {
            opacity: 1;
            transition: opacity 0.25s;
        }
    }

    .table-exchange-field {
        margin-bottom: 11px;

        td {
            padding: 0px !important;
        }

        .payment-icon-small {
            margin-right: 0px;
        }

        .input-group-addon {
            padding: 6px;
        }
    }

    .table-exchange-list {
        margin-bottom: 0px;
    }
</style>

<script> 
    import ExchangeFrom from './ExchangeFrom'; 
    import ExchangeTo from './ExchangeTo';
    import ExchangeData from './ExchangeData';

    export default {
        components: {
            ExchangeFrom,
            ExchangeTo,
            ExchangeData 
        }, 

        mounted() {
            this.loadFrom();
        },

        methods: {
            onFromSelected(item) {
                this.from_current = item;
                this.loadTo(); 
                this.to_value = 0;
                this.checkLoadData();
            },

            onToSelected(item) {
                this.to_current = item;
                this.convertFromTo();
                this.checkLoadData();
            },

            onFromChanged(value) {
                this.from_value = value;
                this.convertFromTo();
            },

            onToChanged(value) {
                this.to_value = value; 
                this.convertToFrom();
            },

            loadFrom() {
                this.load((items) => {
                    this.from_list = items;
                }, this.from_params);
            },

            loadTo() {
                this.to_params.from = this.from_current.id;
                this.load((items) => {
                    this.to_list = items;
                }, this.to_params);
            },

            load(callback, params) {
                var link = window.urls.payments.get;
                this.$http.get(link, {
                    params: params
                }).
                then(response => {
                    callback(response.data);
                });
            },

            convertFromTo() {
                this.convert(this.convertFromToCallback, {
                    direction: 'from',
                    before: this.from_current.id,
                    after: this.to_current.id,
                    value: this.from_value  
                });
            },

            convertFromToCallback(item) {
                this.to_value = item;
            },

            convertToFrom() {
                this.convert(this.convertToFromCallback, {
                    direction: 'to',
                    before: this.to_current.id,
                    after: this.from_current.id,
                    value: this.to_value  
                });
            },

            convertToFromCallback(item) {
                this.from_value = item;
            },

            convert(callback, params) {
                var link = window.urls.payments.convert;
                this.$http.post(link, params).
                then(response => {
                    callback(response.data);
                });
            },

            checkLoadData() {
                if (this.from_current == null || this.to_current == null) return;
                this.loadData();
            },

            //Для загрузки данных
            loadData() {
                var link = window.urls.payments.data;
                this.$http.get(link, {
                    params: {
                        from: this.from_current.id,
                        to: this.to_current.id 
                    }
                }).
                then(response => {
                    this.data = response.data; 
                });
            },

            //Для отправки данных
            onSend(data) {
                var result_data = this.prepareData(data);
                
                //Проверка
                this.checkSend(result_data);
                if (!this.sendOK) this.showErrorSend();

                //Отправка
                this.sendRequest(result_data); 
            },

            //Подготовка данных
            prepareData(data) {
                return {
                    data: data,
                    from_value: this.from_value,
                    to_value: this.to_value,
                    from_current: this.from_current,
                    to_current: this.to_current
                }
            },

            //Проверка
            checkSend(result_data) {
                this.sendOK = true;
            },

            //Показ ошибок
            showErrorSend() {
                alert("Проверка на ошибки");
            },

            //Отправляет запрос
            sendRequest(data) { 
                var link = window.urls.payments.create_bid;
                this.$http.post(link, data).
                then(response => {
                    console.log(response.data);
                });
            }
        }, 

        data() {
            return {
                //Первый блок
                from_value: 0,
                from_list: [],
                from_current: null,
                from_params: {
                    direction: 'from',
                },

                //Второй блок
                to_value: 0,
                to_list: [], 
                to_current: null,
                to_params: {
                    direction: 'to',
                },

                //Третий блок
                data: {},

                //Проверка
                sendOK: false
            };
        }
    }
</script>