<template>
    <div>
        <div class="box-exchange box box-solid box-primary">
            <div class="box-header text-center">
                <h3 class="box-title">
                    Отдаю
                </h3>
            </div>
            <div class="box-body">
                <div class="exchange-list">
                    <table class="table table-exchange-field"> 
                        <tbody>
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <vue-numeric 
                                            separator="," 
                                            :minus="false" 
                                            :precision="precise"
                                            placeholder="Введите сумму" 
                                            v-model="value_item"
                                            @input="onValueChange" 
                                            class="form-control"
                                        ></vue-numeric>
                                        <span class="input-group-addon">
                                            <div v-if="current_item" class="payment-icon-small" :style="{'background-image': 'url(\'/admin_data/'+current_item.icon+'\')'}"></div>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>  

                    <table class="table table-hover table-exchange-list">  
                        <tbody>
                            <template v-for="item in list">
                                <tr :key="item.id" :class="{'selected-payment': item.id == current_item.id}">
                                    <td @click="selectPayment(item)">
                                        <div class="payment-icon-small" :style="{'background-image': 'url(\'/admin_data/'+item.icon+'\')'}"></div>
                                        {{item.name}}
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>  
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ExchangeMixins from './Exchange.js';
    export default {
        mixins: [
            ExchangeMixins
        ],
    }
</script>