<template>
    <div>
        <div class="box-exchange box box-solid box-primary">
            <div class="box-header text-center">
                <h3 class="box-title">
                    Ввод данных 
                </h3>
            </div>
            <div class="box-body">
                <!-- Информация об обмене -->
                <div class="box box-primary box-fullborder border-10b"> 
                    <div class="box-body no-padding">
                        <table class="table table-bordered">
                            <tbody>
                                <tr> 
                                    <td class="text-left" style="width: 50%">
                                        Курс обмена
                                    </td>
                                    <td class="text-right" style="width: 50%">
                                        <template v-if="data">
                                            <template v-if="data['link']">
                                                {{precise(data["link"]["prepared"]["from"], from)}}
                                                = 
                                                {{precise(data["link"]["prepared"]["to"], to)}}
                                            </template>
                                        </template>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        Отдаю
                                    </td>
                                    <td class="text-right">
                                        {{precise(value_from, from)}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        Получаю
                                    </td>
                                    <td class="text-right">
                                        {{precise(value_to, to)}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                </div>

                <!-- Для полей from --> 
                <div class="box box-primary box-fullborder border-10b" v-if="o.from_fields.length > 0" key="from_fields_block">
                    <div class="box-header with-border bg-light-blue disabled color-palette">
                        <div class="img-iconwhite">
                            <img width="16" height="16" :src="'/admin_data/'+from.icon" v-if="from.icon"/> 
                        </div>

                        {{from.name}} 

                        <div class="pull-right">
                            (откуда)
                        </div>
                    </div>
                    <div class="box-body">
                        <template v-for="field in o.from_fields"> 
                            <div :key="'fromk_'+field.id" class="form-group"> 
                                <span>{{field.info}}</span>   
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa" :class="field.icon"></i></span> 
                                    <input type="text" class="form-control" v-model="field.value" :name="field.key" :placeholder="field.mask" :required="field.required"> 
                                </div>
                            </div>
                        </template>
                    </div>
                </div>

                <!-- Для полей to --> 
                <div class="box box-primary box-fullborder border-10b" v-if="o.to_fields.length > 0" key="to_fields_block">
                    <div class="box-header with-border bg-light-blue disabled color-palette">
                        <div class="img-iconwhite"> 
                            <img width="16" height="16" :src="'/admin_data/'+to.icon" v-if="to.icon"/>
                        </div>

                        {{to.name}}

                        <div class="pull-right">
                            (куда)
                        </div>
                    </div>
                    <div class="box-body">
                        <template v-for="field in o.to_fields">  
                            <div :key="'tok_'+field.id" class="form-group"> 
                                <span>{{field.info}}</span>  
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa" :class="field.icon"></i></span> 
                                    <input type="text" class="form-control" v-model="field.value" :name="field.key" :placeholder="field.mask" :required="field.required"> 
                                </div>
                            </div>
                        </template>
                    </div> 
                </div>

                <!-- Google Recaptcha -->
                <div class="box box-primary box-fullborder border-10b"> 
                    <div class="box-body no-padding">
                        <div class="recaptcha-block">
                            <vue-recaptcha 
                                class="recaptcha-wrapper" 
                                :sitekey="google_key"
                                @verify="onGoogleVerify"
                            ></vue-recaptcha>
                        </div>
                    </div>  
                </div>


                <!-- Email -->
                <div class="box box-primary box-fullborder border-10b"> 
                    <div class="box-header with-border bg-light-blue disabled color-palette">
                        Введите контактные данные
                    </div>
                    <div class="box-body">
                        <div class="form-group"> 
                            <span>Имя</span>  
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-pencil"></i></span> 
                                <input type="text" v-model="name" class="form-control"> 
                            </div>
                        </div>
                        <div class="form-group"> 
                            <span>Email</span>  
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span> 
                                <input type="text" v-model="email" class="form-control">
                            </div>
                        </div>
                    </div>  
                </div>


                <!-- Создать новую заявку -->
                <div class="small-box bg-primary button-send" @click="send()"> 
                    <div class="inner">
                        <h3>Отправить</h3>
                        <p>(Создать новую заявку)</p> 
                    </div>
                    <div class="icon">
                        <i class="fa fa-rocket"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    .recaptcha-wrapper > div {
        margin: 0 auto;
    } 

    .recaptcha-wrapper {
        padding-top: 11px;
        padding-bottom: 11px; 
        max-height: 100px;
    }
</style>

<style lang="scss" scoped> 
    .button-send {
        &:hover {
            cursor: pointer;
        }

        & {
            margin-bottom: 0px;
        }
    }

    .fields_block {
        margin-top: 10px;
    }

    .recaptcha-block {
        margin: 0 auto;
        margin-bottom: -2px; 
    }

    .no-padding {
        padding: 0px;
    }

    .box-fullborder {
        border: 2px solid #d2d6de;
        border-radius: 2px;
        border-color: #3c8dbc;
    }

    .border-10b {
        margin-bottom: 10px;
    }

    .box .border-10b:last-child {
        margin-bottom: 0px;
    }

    .img-iconwhite {
        float: left;
        width: 20px;
        height: 20px;
        display: inline-block;
        background: white;
        border-radius: 50%;
        padding: 2px;
        overflow: hidden; 
        margin-right: 5px;

        img {
            display: block;
        }
    }

    .box-fullborder {
        .form-group {
            & {
                margin-bottom: 5px;
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
</style>

<script>
    import ExchangeFrom from './ExchangeFrom';
    import VueRecaptcha from 'vue-recaptcha'; 

    export default {
        components: { 
            VueRecaptcha 
        },
         
        props: [ 
            'from', 'to', 'value_from', 'value_to', 'data'
        ],

        watch: {
            from: function(value) {
                this.loadFromFields(value);
            },

            to: function(value) {
                this.loadToFields(value);
            }
        },

        computed: {
            google_key: function() {
                return window.google_key; 
            }
        },

        methods: {
            precise(value, payment) {
                var precise = 2;
                if (payment == null) {
                    precise = 2;
                } else {
                    precise = payment.precise;
                }

                var size = Math.pow(10, precise);
                return Math.round(value * size) / size;
            },


            //Загружает поля для "from"
            loadFromFields(value) {
                var id = value.id;
                this.loadFields(id, this.afterLoadFromFields, 'from');
            },


            //Результирующая функция
            afterLoadFromFields(data) {
                this.o.from_fields = data;
            },


            //Загружает поля для "to"
            loadToFields(value) {
                var id = value.id;
                this.loadFields(id, this.afterLoadToFields, 'to');
            },


            //Результирующая функция
            afterLoadToFields(data) {
                this.o.to_fields = data;
            },


            //Общая функция для загрузки полей
            loadFields(id, callback, type) {
                var link = window.urls.payments.fields+'/'+type+'/'+id;
                this.$http.get(link).
                then(response => {
                    callback(response.data);
                });
            },


            //При подтверждении Google Recaptcha
            onGoogleVerify() {
                this.check.captcha = true;
            },


            //Отправка данных
            send() {
                this.$emit('onSend', {
                    email: this.email,
                    name: this.name,
                    fields: this.o
                });
            }
        },

        data() {
            return {
                o: {
                    from_fields: [],
                    to_fields: []
                },

                //Данные для отправки
                email: '',
                name: '',

                //Обязательные проверки
                check: {
                    email: false,
                    name: false,
                    captcha: false
                },
            };
        }
    }
</script>