<template>
    <div class="payment-stat-wrapper">
        <template v-for="item in list">
            <div class="payment-stat-item clearfix" :key="item.id">
                <div class="payment-left">
                    <div class="payment-icon-small" :style="{
                        'background-image': 'url(\'/admin_data/'+item.icon+'\')'
                    }"></div>
                </div>
                <div class="payment-text">
                    {{item.name}}<br/>
                    <div class="cost">{{roundFixes(item)}} {{item.abbr}}</div>
                </div>
            </div>
        </template>
    </div>
</template>

<style lang="scss">
    .payment-stat-wrapper {
        margin-top: 5px;
    }

    .payment-stat-item {
        background-color: #1a2226;
        padding: 10px;
        min-height: 40px;

        .payment-left {
            display: block;
            float: left;
        }

        .payment-text {
            color: white;
            margin-top: -3px;
            float: left;

            .cost {
                font-size: 12px;
                color: #ffffffb3;
            }
        }

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    .payment-icon-small {
        float: left; 
        width: 20px;
        height: 20px;
        background-size: cover;
        margin-right: 10px;
    }
</style>

<script>
    export default {
        mounted() {
            var self = this;
            self.load();
            setInterval(function() {
                self.load();
            }, 5000);
        },
 
        methods: {
            load() {
                var url = window.urls.reserve.get;
                this.$http.get(url)
                .then(response => { 
                    this.list = response.data;
                });
            },

            roundFixes(item) {
                return parseFloat(item.reserve).toFixed(item.precise);
            }
        },

        data() {
            return {
                list: [] 
            };
        }
    } 
</script>